* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("assets/BackgroundImage.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img {
     box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
     width: 40%;
}

.page {
    display: none;
    width: 100%;
    height: 100vh;
}

.page.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonMenu {
    display: grid;
    grid-template-columns: 367 367 367;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.buttonPlay {
    grid-row: 1;
    grid-column: 2;
}

.buttonRank {
    grid-row: 2;
    grid-column: 2;
}

.buttonQuit {
    grid-row: 3;
    grid-column: 2;
}
